# Dependencies
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Build
frontend/dist/

# Database
backend/*.db

# OS
.DS_Store